core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
DOM - EC v00.xlsx
.vscode/settings.json
~$DOM - EC v00.xlsx
Assets/CSS/style - Copy.css
README.html
delete.html
ReadMe.md
Assets/Images/Hero-image.png
Assets/Images/Hero-image.png
Assets/Images/Video/Recording 2023-12-01 112538.mp4
Assets/Images/Original/search.svg
Assets/Images/Original/OIG.ryiK.jpg
Assets/Images/Original/OIG.jpg
Assets/Images/Hero-image1.png
Assets/Images/Logo.jpg
