core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
DOM - EC v00.xlsx
.vscode/settings.json
~$DOM - EC v00.xlsx
Assets/CSS/style - Copy.css
README.html
delete.html
ReadMe.md
